@import "bootstrap";
@import "components/sidebar";
@import "components/recipes";
@import "components/loading";

body {
  padding-top: 3.5em;
}

/**
 * Pulsating Loading Animation
 */
.content-loading {
  opacity: 1;
  animation: fadeInOut 1s linear;
}

@keyframes fadeInOut {
  0%, 100% { opacity: 0.2 }
  50% { opacity: 0.7 }
}
