/**
 * Styles for the Sidebar.js component
 */

.sidebar {
  position: fixed;
  top: 56px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;

  .nav {
    margin-bottom: 20px;
  }

  .nav-item {
    width: 100%;

    & + .nav-item {
      margin-left: 0;
    }
  }

  .nav-link {
    border-radius: 0;
  }
}
